:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.4rem;
  font-family: sans-serif;
}

/* ******************************** */

.flex-container {
  /* display: flex wird immer auf dem Eltern-Element angewendet */

  display: flex;

  /* height: 100vh; */
  border: 2px solid black;

  /* Standartrichtung ist row- MAIN-AXIS */
  /* flex-direction: row; */

  /* column is CROSS-AXIS */
  /* flex-direction: column; */

  /* flex-wrap -legt fest, ob Flex-Elemente in eine Zeile gezwungen
  werden oder sich über mehrere Zeilen erstrecken können */
  /* flex-wrap: wrap; */

  /* flex-flow: flex-direction | flex-wrap */
  flex-flow: row wrap;
}
.flexitem {
  height: 15rem;
  width: 15rem;
  border: 1px solid black;
  background-color: hotpink;

  /* Verwendung von Flexbox innerhalb von Flexbox */
  display: flex;
  /* justify-content positioniert horizontal */
  justify-content: center;
  /* align-items positioniert horizontal */
  align-items: center;
}
