$h1-size: 40px;
$h1-color: #cd6799;
$h2-color: rgb(63, 152, 152);
$img-size: 200px;

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: $h1-size;
    color: $h1-color;
}
h2{
    color: $h2-color;
}

.vs-container {
    img{
        width: $img-size;
        height: $img-size;
    }
    span{
        font-size: $h1-size;
    }
}