body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
form {
  margin: 5% auto;
  width: 35%;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
}
ul {
  list-style-type: none;
}
form li {
  margin-top: 1rem;
}
label {
  width: 7rem;
  display: inline-block;
}
input,
textarea {
  font: 1rem sans-serif;
  border: 1px solid #ccc;
}
input:focus,
textarea:focus {
  outline: 1px solid cornflowerblue;
  background-color: yellow;
}

input::placeholder {
  font-style: italic;
}
input[type="email:disabled"] {
  background-color: #ccc;
}
textarea {
  vertical-align: top;
  height: 4rem;
}
button {
  margin: 0 auto;
}
label, input, textarea{
    width: 33.3;
}
