.rappers {
  margin: 5% auto;
  width: 20%;
  text-align: center;
  border-collapse: collapse;
}
/* th,
td {
  border: 1px solid black;
} */
.rappers tr:nth-child(even) {
  background-color: aqua;
}
/* .rappers tr:nth-child(odd) {
  background-color: orangered;
} */
.rappers tr:nth-child(5) {
  background-color: deeppink;
  color: #efefef;
}
.rappers,
td {
  border: 1px solid gray;
}

.rappers td {
  padding: 5px 8px;
}
/* ******************** */

.expense {
  width: 33%;
  margin: 3% auto;
  text-align: center;
  border-collapse: collapse;
}
.expense,
td {
  border: 2px solid crimson;
}
.expense thead {
  background-color: lightgrey;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.expense tfoot {
  background-color: greenyellow;
}
/* ******************** */
.country {
  margin: 5% auto;
  width: 80%;
  text-align: center;
  border: 2px solid orange;
  border-collapse: collapse;

  table-layout: fixed;
}
.country,
th,
td {
  border: 1px solid gray;
}
/* ******************** */
.colgroup {
  margin: 5% auto;
  border-collapse: collapse;
}
.colgroup tr > th,
.colgroup td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}
/* 

Attribut Selektoren - steuern diejenigen Elemente an,
welche ein Attribut mit dem jeweiligen angegebenen Wert
haben. 

element[attribut="wert"]

*/
th[colspan="2"] {
  background-color: lightblue;
}
.colgroup th[scope="col"] {
  background-color: lightcoral;
}
