* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: black;
}
:root {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
h1 {
    text-align: center;
    color: blue;
    margin: 1rem;
}

/* Container div => parent div */
.container {
    border: 2px solid;
    margin: 1rem;
    /* width: 62rem; */
    /* display: inline-grid; */
    display: grid;

    /* Units : Number px, %, auto, 1fr (fr = fraction; nimmt was über ist vom platz) */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 100px 50px 100px; */

    /* grid-template: grid-template-rows / grid-template-columns */
    /* grid-template: 100px 50px / 1fr 1fr 1fr; */

    /* repeat methods  */
    /* grid-template: repeat (anzahl grid-template-rows, größeneinheit) / repeat(anzahl grid-template-columns, fraction-wert) */
    /* grid-template: repeat(2, 100px) / repeat(3, 1fr); */
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(3, 100px);

    /* Abstände */
    /* column-gap: 1em; */
    /* row-gap: 1em; */
    /* gap: row-gap column-gap */
    gap: 1rem 2rem;

    /* horizontaly => justify-items: start | end | center | stretch …*/
    /* justify-items: end; */
    /* verticaly => align-items: start | end | center | stretch … */
    /* align-items: center; */
    /* horizontaly => justify-content: divs werden als container behandelt im main grid container */
    /* justify-content: center; */
    /*  verticaly => align-content: start | end | center */
    /* align-content: center; */

    /* place-content: align-content justify-content; */
    place-content: center center;
}

.container div {
    background-color: blueviolet;
    border: 1px solid gray;
    color: aliceblue;
    padding: 2rem;
    font-size: 1.9rem;
    /* width: 100px; */
}

/* min-max */
h2 {
    text-align: center;
    margin: 2rem;
}

.container-2 {
    border: 2px solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    /* grid-template-rows: minmax(minumum value, maximum value) */
    /* grid-template-rows: minmax(10rem, auto); */

    /* grid-auto-flow: row oder column oder dense */
    grid-auto-flow: dense;
}
.container-2 .num1 {
    grid-row-start: 3;
}
.container-2 .num4 {
    grid-column-start: 2;
}
.container-2 div {
    background-color: blueviolet;
    border: 1px solid gray;
    color: aliceblue;
    padding: 2rem;
    font-size: 1.9rem;
}
