* {
  margin: 0;
  padding: 0;
  /* 
  *box-sizing:border-box:
  der inhalt icl. der border, kann die größe der box 
  nicht mehr beeinflussen - alles wird nach innen gedrückt  
  Vorteil: Mehr kontrolle über das Padding und den Inhalt
  */
  box-sizing: border-box;
}

div {
  border: 1px solid royalblue;
}

code {
  background-color: lightgrey;
}

.block {
  display: block;

  /* 
Margin legt den Abstand zum nächsten Element fest.
Zu Beachten: Margin-Top und Margin-Bottom überlappen
mit dem nächsten Element darunter oder darüber.
Margin-Right und Margin-Left schieben sich aber dann 
nebeneinander weg
*/

  /* 
margin: oben rechts unten link
margin: 100px 100px 100px 100px
---
margin: oben/unten rechts/links
margin: 100px 100px
---
margin: oben/rechts/unten/links
margin: 100px
*/
  /* margin: 100px; */
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

  /* 
Padding legt den Abstand vom Inhalt zum Border fest.
Zu Beachten: die hight und width wird dadurch nicht verändert,
sondern das Element wird nur "künstlich Aufgeblasen".
*/

  /* 
padding: oben rechts unten link
padding: 100px 100px 100px 100px
---
padding: oben/unten rechts/links
padding: 100px 100px
---
padding: oben/rechts/unten/links
padding: 100px
*/
  /* padding: 50px; */
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.inline {
  display: inline;
  /* padding-left: 4rem; */
}

.inline-block {
  display: inline-block;
  width: 20%;
  height: 4rem;
}

/* 
FÜR MARGIN OBEN UND UNTEN: 
*Es gewinnt immer der größte margin wert. 
z.B. wenn 100 margin angegeben sind 
und bei dem nächsten element 70, gewinnt die 100 margin.
*Es stackt >nicht<

FÜR MARGIN LINKS UND RECHTS:
*kann stacken / schieben sich nebeneinander weg.
*/
